body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
}

a {
  color: #0275d8;
  text-decoration: none;
}

.start {
  background-image: url(../images/famille-pirate_1600x.webp);
  background-repeat: none;
  background-size: cover;
  background-position: 0 -100px;
}