{% extends "base.html" %}

{% block content %}
<h1>Choose Your Character</h1>
<div class="flex justify-between">
  {% for character in characters %}
  <div class="characters-box">
    <h2>{{ character.name }}</h2>
    <img src="{{ character.image }}" />
    <p>{{character.description}}</p>
    <p>
        Stats:
        <ul>
            <li>Force: {{character.stats.force}}</li>
            <li>Chance: {{character.stats.luck}}</li>
            <li>Intelligence: {{character.stats.intelligence}}</li>
            <li>Charisme: {{character.stats.charisma}}</li>
        </ul>
    </p>
    <button class="primary-button">
      <a href="{{ url_for('play', character=character.name) }}">Choose</a>
    </button>
  </div>
  {% endfor %}
</div>
{% endblock %}