{% extends "base.html" %} {% block content %}
<div class="paysage w-full h-full grid place-items-center">
    <h1 class="font-extrabold text-7xl text-yellow-400 drop-shadow-lg mb-6 text-center">Vous jouez avec {{ character.name }} !</h1>
    <div>
        <p class="text-white text-center text-2xl mb-10 py-6 bg-blue-200 drop-shadow-lg rounded-lg">
          Choisissez un objet pour retrouver le trésor !
        </p>
        <div class="flex justify-between max-w-7xl">
            {% for item in items %}
                <a id="item-{{ item.id }}" href="{{ url_for('play_with_item', character=character.name, item=item.name) }}"
                    class="py-4 px-6 mx-10 bg-yellow-400 drop-shadow-lg rounded-lg text-white text-center text-xl"
                >
                    {{ item.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
